* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.collection-main-container {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #192434;
  width: 100%;
  overflow: hidden;
}

.first-collection-slider,
.second-collection-slider {
  display: flex;
  width: max-content;
  animation-play-state: running;
}

.collection-all-slide {
  display: flex;
  gap: 32px;
  padding: 30px 32px;
}

.collection-all-slide img {
  width: 270px;
  height: 140px;
  border-radius: 20px;
  object-fit: fill;
}

.collection-all-slide p {
  font-size: 96px;
}

.special-stroke-text {
  position: relative;
  font-size: 100px;
  text-transform: capitalize;
  color: transparent;
  -webkit-text-stroke: 2px #192434;
}

.special-stroke-text::before {
  content: attr(data-fill-text);
  position: absolute;
  width: 0;
  height: 100%;
  color: #192434;
  -webkit-text-stroke: 2px transparent;
  overflow: hidden;
  transition: width 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.special-stroke-text:hover::before {
  width: 100%;
}

.collection-main-container:hover .first-collection-slider,
.collection-main-container:hover .second-collection-slider {
  animation-play-state: paused;
}

.first-collection-slider {
  animation: slide-ltr 15s linear infinite;
}

@keyframes slide-ltr {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-rtl {
  0% {
    transform: translateX(-42%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-42%);
  }
}

.second-collection-slider {
  animation: slide-rtl 15s linear infinite;
}

@media (max-width: 768px) {
  .first-collection-slider {
    animation: slide-ltr 25s linear infinite;
  }

  @keyframes slide-ltr {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-88%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .second-collection-slider {
    animation: slide-rtl 25s linear infinite;
  }

  @keyframes slide-rtl {
    0% {
      transform: translateX(-88%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-88%);
    }
  }
}

/* @media (min-width: 768px){
    .first-collection-slider {
      animation: slide-ltr 25s linear infinite;
    }
  
    @keyframes slide-ltr {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(-88%);
      }
      100% {
        transform: translateX(0);
      }
    }
  
    .second-collection-slider {
      animation: slide-rtl 25s linear infinite;
    }
  
    @keyframes slide-rtl {
      0% {
        transform: translateX(-88%);
      }
      50% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-88%);
      }
    }
  } */
