* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  position: relative;
  font-size: 100px;
  text-transform: capitalize;
  color: transparent;
  -webkit-text-stroke: 2px #192434;
}

.text::before {
  content: attr(data-fill-text);
  position: absolute;
  width: 0;
  height: 100%;
  color: #192434;
  -webkit-text-stroke: 2px transparent;
  overflow: hidden;
  transition: width 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.text:hover::before {
  width: 100%;
}
